<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF8">
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/style.css') }}" type="text/css"/>
    <title>Title</title>
</head>
<body>
<a class="pink" href="deathsmiles.html.twig">deathsmiles</a>
<a class="pink" href="mushihimesama.html.twig">mushihimesama</a>
<a class="notPink" href="ikaruga.html.twig">ikaruga</a>
<ul>
    <li><a href="../crimzon_clover/type1">Type 1</a></li>
    <li><a href="../crimzon_clover/type3">Type 3</a></li>
    <li><a href="../crimzon_clover/typeZ">Type Z</a></li>
</ul>
<iframe width="560" height="315" src="{{ type }}" frameborder="0" allowfullscreen></iframe>
</body>
</html>