<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF8">
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/style.css') }}" type="text/css" />
    <title>Title</title>
</head>
<body>
<a class="pink" href="deathsmiles.html.twig">deathsmiles</a>
<a class="notPink" href="crimzon_clover.html.twig">crimzon clover</a>
<a class="notPink" href="ikaruga.html.twig">ikaruga</a>
<img src="http://www.abload.de/img/ultispamc3ups.jpg">
<div class="pinkHaiku">
    Thousand and one Nights
    Gothic and Romanesque rose
    I call to the Earth

    The Moment has come
    The Choice is no longer mine
    By goodness and Love
</div>
</body>
</html>